* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #050000, #2f0101);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 45px;
  font-weight: 500;
  margin-top: -50px;
  margin-bottom: 50px;
  color: #6b6060;
}

.hero h1 span {
  color: #ff2963;
}

textarea {
  width: 600px;
  height: 250px;
  background: #0d0d0d;
  color: #008000;
  font-size: 15px;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 10px;
  resize: none;
  border: 1px solid #006600;
  margin-bottom: 30px;
}

textarea::placeholder {
  font-size: 16px;
  color: #5a5a5a;
}

.row {
  width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
}

button {
  background: #ff2963;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 35px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

button img {
  width: 16px;
  margin-right: 10px;
}

select {
  flex: 1;
  color: #008000;
  background: #0d0d0d;
  height: 50px;
  padding: 0 20px;
  outline: 0;
  border: 0;
  border-radius: 35px;
  border: 1px solid #006600;
  appearance: none;
  background-image: url(assets/images/dropdown.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-x: calc(100% - 20px);
  background-position-y: 20px;
}

button:hover {
  filter: brightness(75%);
}

/* small devices code */

@media all and (max-width: 700px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }

  .hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #050000, #2f0101);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero h1 {
    font-size: 20px;
  }

  textarea {
    width: 310px;
    height: 160px;
  }

  textarea::placeholder {
    font-size: 14px;
  }

  .row {
    height: 95px;
    display: flex;
    flex-direction: column;
  }

  select {
    height: 100px;
    background-size: 12px;
    background-position-x: calc(100% - 13px);
    background-position-y: 16px;
  }

  button:hover {
    cursor: pointer;
    filter: brightness(75%);
  }
}
